<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset='utf-8'>
  <meta Cache-Control='max-age=300'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>СИНТЭП. САУК ВУ. ФАТАЛЬНАЯ ОШИБКА</title>
  <style>
    body {
      cursor: default;
      padding: 0;
      margin: 0;
    }

    body,
    tbody,
    button {
      font-family: 'Consolas', ui-monospace;
      font-size: 11px;
    }

    table {
      table-layout: fixed;
      border-collapse: collapse;
    }

    td {
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>
  <a>FATAL ERROR: [{{.ErrorDescription}}]</a>
</body>

</html>
