<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset='utf-8'>
  <meta Cache-Control='max-age=300'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>СИНТЭП. САУК ВУ</title>
  <link href='files/index.css' rel='stylesheet' type='text/css' />
  <script type="text/javascript" src="files/engine.js"></script>
  <script type="text/javascript">
    /*<![CDATA[*/

    /*** INTERFACE */
    const MainHeaderInterface = {
      draw: function () {
        try {
          this.host.className = The.On ? "online" : "offline";
        }
        catch (e) { }
      }
    };

    const RegisterInterface = {
      draw: function () {
        let str, fmt = 0; try { fmt = parseInt( this.selector.value ); } catch(e){}
        try {
          if( this.index >= 0 && The.Data != null && The.Data[ this.index ] != null ) {

            switch( fmt ) {
              case 1:
                str = The.Data[ this.index ].toString( 16 );
                this.innerText = "16#" + ( ( str.length < 4 ) ? ( "0" ).repeat( 4 - str.length ) + str : str );
                break;
              case 2:
                str = The.Data[ this.index ].toString( 2 );
                this.innerText = "2#" + ( ( str.length < 16 ) ? ( "0" ).repeat( 16 - str.length ) + str : str );
                break;
              default:
                this.innerText = The.Data[ this.index ];
                break;
            }

            this.style.color = "white";
            return;
          }
          this.innerText = "~ - ~";
          this.style.color = "red";
        }
        catch (e) {
          console.log(e);
        }
      }
    };

    /*** RUNTIME */
    var The = { Data: null, Element: new Array(), On: false  };
    const config = { url: "//{{.ADDRESS}}", port: "{{.PORT}}" };
    window.document[ "create" ] = function( arg ) { return Object.extend( document.createElement( arg ), HTMLElementInterface ); };
    window.document[ "childx" ] = function( arg, ...index ) { try{index.forEach((item)=>{arg=arg.children[item];});}catch(e){return null;} return arg; };
    const initialize = () => {
      'use strict';
      let tmp = document.querySelector(".page-header");
      The.Element.push(Object.extend(tmp,MainHeaderInterface,{host:document.childx(tmp,0,0,2,0,0)}));
      tmp = document.childx( document.querySelector(".page"), 1, 0 );
      for( let i = 0, tr, str, td; i < 512; i++ ) {
        tr = document.create( "tr" ).appendTo( tmp );
        str = i.toString( 10 );
        document.create( "td" ).appendTo( tr ).innerText = ( str.length < 4 ) ? ( "0" ).repeat( 4 - str.length ) + str : str;
        The.Element.push( td = document.create( "td" ).appendTo( tr ).extend( RegisterInterface, { index: i } ) );
        td.selector = document.create( "select" ).appendTo( document.create( "td" ).appendTo( tr ) );
        document.create( "option" ).withAttribute( "value", 0 ).appendTo( td.selector ).innerText = "деcятичный";
        document.create( "option" ).withAttribute( "value", 1 ).appendTo( td.selector ).innerText = "шестнадцатичный";
        document.create( "option" ).withAttribute( "value", 2 ).appendTo( td.selector ).innerText = "двоичный";
        document.create( "td" ).appendTo( tr );
      }
    };
    const run = () => {
     'use strict';
      console.log("application config url=\"" + config.url + "\" port=\"" + config.port + "\"");
      window["socket"]=new WebSocket("ws:"+config.url+":"+config.port+"/websocket.json");
      Object.extend(socket,{
        onopen:()=>{console.log((new Date()).toISOString()+": open websocket connection \"ws:"+config.url+":"+config.port+"/websocket.json\"");The.On=true;},
        onclose:()=>{console.log((new Date()).toISOString()+": close websocket connection");The.On=false;},
        onerror:(e)=>{ console.log((new Date()).toISOString()+": "+e);},
        onmessage:(arg)=>{new Response(arg.data).arrayBuffer().then((arg)=>{The.Data=new Uint16Array(arg);});}
      });
      setInterval(()=>{The.Element.forEach((value)=>{try{value.draw();}catch(e){}})},500);
    };
    
    /*]]>*/
  </script>

</head>

<body onload="initialize();run();">
  <div class="page-header">
    <table>
      <tr>
        <td rowspan="3"><a href="http://www.sintep.ru"><img src="files/sintep.png" width="121px" height="47px" alt="www.sintep.ru" /></a></td>
        <td rowspan="3"><div>шахта им. С.М.Кирова</div><div>Водоотлив ЦЕНТРАЛЬНЫЙ</div></td>
        <td><div>28 февраля 2023 г.</div></td>
      </tr>
      <tr>
        <td><div>00:00:00</div></td>
      </tr>
      <tr>
        <td><div class="offline">{{.ADDRESS}}:{{.PORT}}</div></td>
      </tr>
    </table>
  </div>
  <div class="page">
    <div class="caption">Оперативные данные</div>
    <table width="100%">
      <tr>
        <th>Регистр</th>
        <th>Значение</th>
        <th>Формат</th>
        <th>Описание</th>
      </tr>
    </table>
  </div>

  <div class="page-footer">
    <table>
      <tr>
        <td><a href="http://www.sintep.ru">АО "СИНТЭП"</a></td>
        <td><a href="http://{{.ADDRESS}}:{{.PORT}}/index.html">Оперативные данные</a></td>
      </tr>
    </table>
  </div>

</body>
  
</html>
  
