*:not(:defined) {
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 99%;
}

body {
  cursor: default;
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: #3e4345;
}

body,
tbody,
button {
  font-family: 'Yu Gothic UI';
  font-size: 11px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  padding: 0px;
  margin: 0px;
}

.page-header {
  margin: 20px auto;
  width: 1024px;
  overflow: hidden;
}

.page-header table {
  width: 99%;
  margin-left: 6px;
  margin-right: 6px;
}

.page-header td:nth-of-type(1) {
  width: 140px;
}

.page-header td:nth-of-type(3) {
  width: 228px;
  vertical-align: top;
}

.page-header * {
  color: #ccc;
  text-align: center;
}

.page-header td:nth-of-type(2) div:nth-of-type(1) {
  font-size: 36px;
}

.page-header td:nth-of-type(2) div:nth-of-type(2) {
  font-size: 20px;
  font-weight: 600;
  margin-top: -4px;
}

.page-header td:nth-of-type(3) * {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0px;
}

.page-header tr:nth-of-type(2) td:nth-of-type(1) * {
  font-family: 'Consolas';
  font-size: 24px;
  margin-top: -2px;
}

.page-header tr:nth-of-type(3) td:nth-of-type(1) * {
  font-size: 12px;
  font-weight: 600;
  margin-top: 4px;
}

.page-header tr:nth-of-type(3) td:nth-of-type(1) .online {
  color: #0c0;
}

.page-header tr:nth-of-type(3) td:nth-of-type(1) :not(.online) {
  color: #c00;
}

.page {
  margin: 20px auto;
  width: 1024px;
}

.page .caption {
  font-size: 15px;
  padding-bottom: 6px;
  font-weight: 600;
}

.page table,
.page th,
.page td {
  border: 1px solid #ccc;
}

.page th {
  padding: 6px 6px 8px 6px;
}

.page th:nth-of-type(1) {
  width: 120px;
}

.page th:nth-of-type(2) {
  width: 420px;
}

.page th:nth-of-type(3) {
  width: 180px;
}

.page td {
  font-size: 12px;
  padding: 2px 2px 3px 2px;
}

.page td:nth-of-type(1) {
  text-align: center;
}

.page td:nth-of-type(2) {
  font-weight: 600;
  padding-left: 12px;
}

.page td:nth-of-type(3) {
  text-align: center;
}

.page table select {
  color: white;
  background-color: #3e4345;
  user-select: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.page-footer {
  margin: 20px auto;
  padding-bottom: 10px;
  width: 1024px;
  overflow: hidden;
}

.page-footer table {
  width: 99%;
}

.page-footer table td {
  width: 50%;
}

.page-footer table td:nth-of-type(1) {
  text-align: left;
  padding-left: 16px;
}

.page-footer table td:nth-of-type(2) {
  text-align: right;
  padding-right: 16px;
}

.page-footer a {
  color: #08f;
}
